@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blur-block {
    margin-top: 5vw;
    border-radius: 8vw;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: url("../img/background2.png") center/cover fixed no-repeat;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    color: white;
}

button {
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.13);
}

button:active {
    transform: scale(0.95);
    background: rgba(255, 255, 255, 0.2);
}

img {
    object-fit: cover;
    width: clamp(30px, 6vw, 60px);
    height: clamp(30px, 6vw, 60px);
}

header {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1vh;
    margin: 10vw 10vw;
    flex: 1;
    font-size: 40px;
}

#title {
    margin-top: 10vw;
}

#score {
    margin-top: 1vw;
    padding: 3vw;
}

#click {
    margin-top: 20vw;
    width: 60vw;
    height: 60vw;
    border-radius: 40vw;
    font-size: 70px;
}

#userpic {
    object-fit: cover;
    width: clamp(100px, 63vw, 200px);
    height: clamp(100px, 63vw, 200px);
}

ol {
    margin-top: 7vh;
    font-size: 50px;
}

.upgrade-btn {
    margin-top: 20vw;
    width: 20vw;
    height: 10vw;
    border-radius: 40vw;
    font-size: 40px;
}

@media (min-width: 1024px) {
    .blur-block {
        margin-top: 20px;
        border-radius: 60px;
        padding: 10px 20px;
    }

    header {
        gap: 20px;
        padding: 20px;
    }

    main {
        margin: 40px auto;
        max-width: 600px;
        width: 100%;
        font-size: 48px;
        padding: 40px 20px;
    }

    #title {
        margin-top: 20px;
        font-size: 36px;
    }

    #score {
        margin-top: 20px;
        padding: 30px 50px;
        font-size: 72px;
    }

    #click {
        margin-top: 40px;
        width: 300px;
        height: 300px;
        border-radius: 150px;
        font-size: 48px;
    }

    img {
        width: 40px;
        height: 40px;
    }
}
