{% extends "base.html" %}

{% block title %}Clicker - Account{% endblock %}

{% block content %}
<header>
    <div id="game" class="blur-block">
        <a href="/home" class="icon"><img src="../static/img/home.png" alt="home"></a>
        <a href="/top" class="icon"><img src="../static/img/star.png" alt="top"></a>
        <a href="/upgrade" class="icon"><img src="../static/img/rocket.png" alt="upgrade"></a>
    </div>

    <div id="link" class="blur-block">
        <a href="/account" class="icon"><img src="../static/img/account.png" alt="account"></a>
    </div>
</header>

<main class="blur-block">
    <img id="userpic" src="../static/img/account.png" alt="account">
    <span id="username">Loading...</span>
    <button id="exit" class="blur-block">Log out of your account</button>
</main>
{% endblock %}
