<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/img/favicon.png">
    <title>Clicker</title>
</head>

<body data-username="{{ username }}">
    <div id="container" class="blur">
        <button id="account" class="blur">
            {{ username }}
            <img src="../static/img/account.png">
        </button>

        <div id="content">
            <h1>Total score: <span id="score">{{ score }}</span></h1>
            <button id="clickButton" class="blur">Click!</button>
        </div>
    </div>

    <script src="../static/js/score.js"></script>
</body>

</html>
