<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <link rel="icon" href="../static/images/icon.png">
    <title>Clicker</title>
</head>

<body>
    <div id="container" class="blur">
        <button id="account" class="blur">
            {{ username }}
            <img src="../static/images/account.png"></button>
        <div id="content">
            <h1>Total score: {{ score }}</h1>
            <button class="blur">Click!</button>
        </div>
    </div>
</body>

</html>
