{% extends "base.html" %}

{% block title %}Clicker - Game{% endblock %}

{% block content %}
<header>
    <div id="game" class="blur-block">
        <a href="/home" class="icon"><img src="../static/img/home.png" alt="home"></a>
        <a href="/top" class="icon"><img src="../static/img/star.png" alt="top"></a>
        <a href="/upgrade" class="icon"><img src="../static/img/rocket.png" alt="upgrade"></a>
    </div>

    <div id="link" class="blur-block">
        <a href="/account" class="icon"><img src="../static/img/account.png" alt="account"></a>
    </div>
</header>

<main class="blur-block">
    <span id="title">Total score:</span>
    <span id="score" class="blur-block">0</span>
    <button id="click" class="blur-block">Click!</button>
</main>
{% endblock %}
