<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Clicker</title>
</head>

<body>
    <header>
        <div id="game" class="blur-block">
            <a href="/home"><img src="../static/img/home.png" alt="home"></a>
            <a href="/top"><img src="../static/img/star.png" alt="top"></a>
            <a href="/upgrade"><img src="../static/img/rocket.png" alt="upgrade"></a>
        </div>

        <div id="link" class="blur-block">
            <a href="/account" class="icon"><img src="../static/img/account.png" alt="account"></a>
        </div>
    </header>

    <main class="blur-block">
        <span class="blur-block">Top:</span>
        <ol>
            <li>Okak</li>
            <li>Jsg</li>
        </ol>
    </main>

    <script src="../static/js/script.js"></script>
</body>

</html>
