{% extends "base.html" %}

{% block title %}Clicker - Top Players{% endblock %}

{% block content %}
<header>
    <div id="game" class="blur-block">
        <a href="/home" class="icon"><img src="../static/img/home.png" alt="home"></a>
        <a href="/top" class="icon"><img src="../static/img/star.png" alt="top"></a>
        <a href="/upgrade" class="icon"><img src="../static/img/rocket.png" alt="upgrade"></a>
    </div>

    <div id="link" class="blur-block">
        <a href="/account" class="icon"><img src="../static/img/account.png" alt="account"></a>
    </div>
</header>

<main class="blur-block">
    <span class="blur-block">Top Players:</span>
    <ol id="top-list">
        <li>Loading...</li>
    </ol>
</main>
{% endblock %}
