{% extends "base.html" %}

{% block title %}Clicker - Upgrades{% endblock %}

{% block content %}
<header>
    <div id="game" class="blur-block">
        <a href="/home" class="icon"><img src="../static/img/home.png" alt="home"></a>
        <a href="/top" class="icon"><img src="../static/img/star.png" alt="top"></a>
        <a href="/upgrade" class="icon"><img src="../static/img/rocket.png" alt="upgrade"></a>
    </div>

    <div id="link" class="blur-block">
        <a href="/account" class="icon"><img src="../static/img/account.png" alt="account"></a>
    </div>
</header>

<main class="blur-block">
    <span id="title">Upgrades</span>
    <div class="user-balance">
        Your balance: <span id="balance">0</span>
    </div>
    <button id="click-upgrade" class="blur-block upgrade-btn">Click upgrade - Loading...</button>
    <button id="second-upgrade" class="blur-block upgrade-btn">Second upgrade - Loading...</button>
    <button id="boost" class="blur-block upgrade-btn">x2 Boost - Loading...</button>
</main>
{% endblock %}
